alias g="git"
alias gc="git commit"
alias gs="git status"
alias gpf="git push --force-with-lease"
alias c="cargo"
alias cnr="cargo nextest run"
alias cnl="cargo nextest list"
alias cf="cloudflared"
alias k="kubectl"
alias icat="kitty +kitten icat"
alias python="python3"
alias vim="nvim"
alias clippyall="c clippy --tests --benches --workspace --examples -- -D warnings"
alias pinentry='pinentry-mac'


export EDITOR="hx"
export HELIX_LOGS="~/.cache/helix/helix.log"
export TIMEFMT=$'real\t%E\nuser\t%U\nsys\t%S\nmaxmem\t%Mk'

function yy() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")"
	yazi "$@" --cwd-file="$tmp"
	if cwd="$(cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
		cd -- "$cwd"
	fi
	rm -f -- "$tmp"
}

{{ if eq .chezmoi.os "darwin" -}}

alias toggled="open /Users/adamchalmers/Documents/toggled.app"
alias wlib="cd /Users/adamchalmers/kc-repos/modeling-app/src/wasm-lib"
export PATH="/Applications/Sublime Text.app/Contents/SharedSupport/bin:$PATH"
export PATH="/usr/local/bin:$PATH"
export PATH="/usr/local/bin/code:$PATH"
export PATH="/opt/homebrew/bin/:$PATH"
export PATH="/opt/homebrew/opt/libpq/bin:$PATH"
export PATH="/Users/adamchalmers/.local/bin:$PATH"
DEFAULT_USER=$USER
export VAULT_ADDR="http://vault.hawk-dinosaur.ts.net"
export XDG_CONFIG_HOME="/Users/adamchalmers/.config"
export GPG_TTY=$(tty)

{{ else if eq .chezmoi.os "linux" -}}

alias wlib="cd /home/adam/kc-repos/modeling-app/src/wasm-lib"

{{ end -}}
